<html lang="en">
  <head>

    <title>404 ERROR</title>
    <link rel="icon" href="/img/weather-1.webp">

    <link rel="stylesheet" href="./CSS/styles.css" />

    
  </head>
  <body>
    <div class="main-content"> 
       {{>header}} 


    <P>{{errorMsg}}</P>

    </div>
   

    {{>footer}}
  
  </body>

  
</html>