<html lang="en">
  <head>
    <title>About</title>
        <link rel="icon" href="/img/weather-1.webp">

    <link rel="stylesheet" href="/CSS/styles.css" />
  </head>
  <body>
    <div class="main-content"> 
      
      
       {{>header}}
    <img
      src="/img/jason-leung-1DjbGRDh7-E-unsplash.jpg"
      alt="Image of a Robot"
      class="robot-img"
    />
    </div>
 
     
    {{>footer}}
  
  </body>
</html>