<html lang="en">
  <head>
<title>HELP</title>
    <link rel="icon" href="/img/weather-1.webp">

    <link rel="stylesheet" href="/CSS/styles.css" />
  </head>
  <body>
<div class="main-content">
  {{>header }}
    <p>{{helpText}}</p>
   

</div>
 

    
    {{>footer}}
  
  </body>
</html>